/* ================================
    header styles
   =================================       
 */

.header {
	color: var(--color-white);
	background-color: var(--color-orange);
    padding: var(--header-padding);
}

.header .center {
	text-align: center;
}

.header > div {
    justify-content: space-between;
}

.header__logo {
	color: inherit;
}

.header__logo sup {
	font-size: 0.6rem;
	font-weight: bold;
}


@media only screen and (max-width:600px) {
	.header > div {
		flex-direction: column;
		align-items: center;
	}
	.header__logo {
		margin-bottom: 1em;
	}
	.nav__link {
		font-size: 0.9rem;
	}
}
